body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

#introScreen,
#game,
#resultScreen {
    text-align: center;
    padding: 20px;
}

#introScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1100px;
}

#introScreen p {
    /* font-size: 37px; */
    text-align: justify;
    /* margin-bottom: 100px; */
    /* margin-top: 50px; */
}

#blocks {
    position: relative;
    width: 1100px;
    height: 700px;
    margin: 10px auto;
    border: 1px solid #ccc;
    background-color: #fff;
}

.block {
    width: 130px;
    height: 130px;
    background-color: rgb(29, 63, 255);
    cursor: pointer;
    position: absolute;
    transition: background-color 0.3s;
}

#feedback {
    margin-top: 20px;
    font-size: 24px;
}

.selected {
    background-color: yellow !important;
}

/* #startTestButton, */
/* #startSequenceButton, */
/* #fullscreenButton, */
/* #restartButton { */
#startSequenceButton{
    padding: 15px 30px;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.button-container {
    display: flex;
    gap: 10px;
}

/* #startTestButton {
    color: white;
    background-color: #007bff;
} */

/* #startTestButton:hover {
    background-color: #0056b3;
} */

/* #startTestButton:active,
#startSequenceButton:active,
#fullscreenButton:active,
#restartButton:active {
    transform: scale(0.98);
} */

#startSequenceButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('pla.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    width: 85px;
    height: 75px;
    display: inline-block;
    vertical-align: middle;
}

/* #fullscreenButton {
    color: black;
    background-color: #c7c7c7;
} */

/* #fullscreenButton:hover {
    background-color: #8f8f8f;
} */

#restartButton {
    color: white;
    background-color: #dc3545;
}

#restartButton:hover {
    background-color: #c82333;
}

/* .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}

.button-container button {
    margin: 20px;
} */

audio {
    margin-bottom: 30px;
}

#resultText {
    font-size: 40px;
    /* Ajusta el tamaño de la fuente aquí */
    margin-bottom: 70px;
}

.controls {
    margin-bottom: 10px;
}

#endSequenceButton {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('flecha3.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    width: 90px;
    height: 80px;
    vertical-align: middle;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.imageText {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
    box-shadow: var(--bs-box-shadow) !important;
}