body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#imageContainer {
    width: auto;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    max-width: 56%;
    text-align: center;
}


img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: 0;
    max-height: calc(100vh - 250px);

}

#inicioImage {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
    margin: 0 auto 3px auto;
    display: none;
}

#preliminaryImage {
    max-width: 100%;
    max-height: 70vh;
    object-fit: contain;
    margin: 60px auto 5px auto;
    /* Se añade un margen superior de 20px */
    display: block;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

audio {
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    gap: 10px;
}

#showMainButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('imagenes/flecha3.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    /* Elimina el relleno para alinear el icono verticalmente */
    width: 80px;
    /* Ajusta el ancho fijo */
    height: 75px;
    /* Ajusta la altura fija */
    vertical-align: middle;
    /* Alineado verticalmente con el contenido */
    position: absolute;
    bottom: 15px;
    /* Ajustamos la distancia desde la parte inferior */
    right: 15px;
    /* Ajustamos la distancia desde el borde derecho */
}



#optionsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    margin: auto;
    margin-bottom: 5px;
}

.option {
    max-width: calc(34% - 17px);
    margin: 8px 1px;

}

.option:hover {
    border: 2px solid #007bff;
    transform: scale(1.04);
    cursor: pointer;
}

#storyImage {
    max-width: 100%;
    max-height: 50vh;
    object-fit: contain;
    margin: 20 auto 8px auto;
    display: block;
}


.imageText {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
    box-shadow: var(--bs-box-shadow) !important;
}

.hidden {
    display: none;
}
.option.selected {
    border: 2px solid #007bff;
    /* Cambia el borde para mostrar que está seleccionada */
}

#continueButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('imagenes/flecha3.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    /* Elimina el relleno para alinear el icono verticalmente */
    width: 80px;
    /* Ajusta el ancho fijo */
    height: 75px;
    /* Ajusta la altura fija */
    vertical-align: middle;
    /* Alineado verticalmente con el contenido */
    position: absolute;
    bottom: 15px;
    /* Ajustamos la distancia desde la parte inferior */
    right: 15px;
    /* Ajustamos la distancia desde el borde derecho */
}

#startButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('imagenes/flecha3.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    /* Elimina el relleno para alinear el icono verticalmente */
    width: 80px;
    /* Ajusta el ancho fijo */
    height: 75px;
    /* Ajusta la altura fija */
    vertical-align: middle;
    /* Alineado verticalmente con el contenido */
    position: absolute;
    bottom: 15px;
    /* Ajustamos la distancia desde la parte inferior */
    right: 15px;
    /* Ajustamos la distancia desde el borde derecho */
}
#fullscreenButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('imagenes/full-screen.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    /* Elimina el relleno para alinear el icono verticalmente */
    width: 80px;
    /* Ajusta el ancho fijo */
    height: 75px;
    /* Ajusta la altura fija */
    vertical-align: middle;
    /* Alineado verticalmente con el contenido */
    position: absolute;
    bottom: 15px;
    /* Ajustamos la distancia desde la parte inferior */
    left: 15px;
    /* Ajustamos la distancia desde el borde derecho */
}