/* styles.css */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  border: 1px solid #ffffff;
  background: #fff;
  padding: 20px;
  text-align: center;
}

canvas {
  border: 2px solid #000;
  cursor: crosshair;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

audio {
  margin-bottom: 30px;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin-top: 50px;
}

#instructionText {
  font-size: 35px;
  text-align: justify;
  margin-bottom: 100px;
  margin-top: 50px;
}

#startButton {
  padding: 15px 30px;
  font-size: 22px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#startButton:hover {
  background-color: #0056b3;
}

#startButton:active {
  transform: scale(0.98);
}

#fullscreenButton {
  padding: 15px 30px;
  font-size: 22px;
  color: rgb(0, 0, 0);
  background-color: #c7c7c7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#fullscreenButton:hover {
  background-color: #8f8f8f;
}

#fullscreenButton:active {
  transform: scale(0.98);
}

.finish-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url('flecha3.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  width: 80px;
  height: 75px;
  vertical-align: middle;
  position: absolute;
  bottom: 5%; 
  right: 8%; 
}

