body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

.screen {
    text-align: center;
}

#image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    max-width: 1500px;
}

#instrucciones {
    margin-top: 20px;
    margin-bottom: 20px;
}

#image-container img {
    width: auto; /* Ancho automático para mantener la proporción */
    height: 85vh; /* Altura relativa al 70% de la altura de la ventana */
    max-width: 90%; /* Máximo ancho igual al 90% del contenedor */
    max-height: 80vh; /* Máxima altura relativa al 70% de la altura de la ventana */
    object-fit: contain;
    display: block;
    margin: 0px auto 5px auto; 
}

#controls button {
    margin: 0px 140px; /* Aumenta el espacio horizontal entre los botones */
}

#instruction-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1320px;
    --bs-gutter-x: 1.5rem;
}

#instructionText {
    font-size: 37px;
    text-align: justify;
    margin-bottom: 1rem;
    /* margin-top: 110px; */
}

#finalizacionText{
    font-size: 39px;
    text-align: justify;
    margin-bottom: 150px;
    margin-top: 110px;
}

button {
    margin: 20px;
    display: inline-flex;
    align-items: center;
}

.button-container {
    margin-top: 20px;
    text-align: center;
    /* Alinea los botones al centro horizontal */
}


#start-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('flecha3.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px;
    width: 90px;
    height: 80px;
    vertical-align: middle;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

/* #start-button {
    padding: 15px 30px;
    font-size: 25px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#start-button:hover {
    background-color: #0056b3;
}

#start-button:active {
    transform: scale(0.98);
} */

#fullscreen-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('full-screen.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px;
    width: 90px;
    height: 80px;
    vertical-align: middle;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

/* #fullscreen-button {
    margin-top: 10px;
    padding: 15px 30px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    background-color: #c7c7c7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#fullscreen-button:hover {
    background-color: #8f8f8f;
}

#fullscreen-button:active {
    transform: scale(0.98);
} */

#next-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('flecha3.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    /* Elimina el relleno para alinear el icono verticalmente */
    width: 90px;
    /* Ajusta el ancho fijo */
    height: 80px;
    /* Ajusta la altura fija */
    vertical-align: middle;
    /* Alineado verticalmente con el contenido */
    position: absolute;
    bottom: 15px;
    /* Ajustamos la distancia desde la parte inferior */
    right: 15px;
    /* Ajustamos la distancia desde el borde derecho */
    margin: 20px;
}

#same-button, #different-button {
    margin-top: 3px;
    padding: 15px 30px;
    font-size: 27px;
    color: rgb(0, 0, 0);
    background-color: #c7c7c7;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#same-button:hover, #different-button:hover {
    background-color: #007bff;
    color: white;
}

#same-button:active, #different-button:active {
    transform: scale(0.99);
}

.selected {
    background-color: #007bff;
    color: white;
}


#same-button.selected, #different-button.selected {
    background-color: #007bff;
    color: white;
}

#header {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#trialIndicator {
    font-size: 25px;
}

.item-indicator {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

/* SELECCION DE MANO CSS */

#handButton {
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('flecha3.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px;
    width: 90px;
    height: 80px;
    margin: 20px;
    vertical-align: middle;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#selectHand {
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#selectHand h4 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#selectHand label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 12px;
}

#selectHand input[type="radio"] {
    margin-right: 10px;
}

.card-body h4 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}