/* styles.css */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  border: 1px solid #ffffff;
  background: #fff;
  padding: 20px;
  text-align: center;
}

canvas {
  border: 2px solid #000;
  cursor: crosshair;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

audio {
  margin-bottom: 30px;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin-top: 70px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  margin-bottom: 80px;
}

p {
  font-size: 30px;
  text-align: center;
}

ol {
  font-size: 30px;
  margin-bottom: 150px;
  text-align: center;
}

#instructionText {
  font-size: 35px;
  text-align: justify;
  margin-bottom: 15px;
  margin-top: 50px;
  width: 60vw;
}

#startButton {
  padding: 15px 30px;
  font-size: 22px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#startButton:hover {
  background-color: #0056b3;
}

#startButton:active {
  transform: scale(0.98);
}

/* #fullscreenButton {
  padding: 15px 30px;
  font-size: 22px;
  color: rgb(0, 0, 0);
  background-color: #c7c7c7;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
} */
#fullscreenButton {
  background-color: transparent;
  border: none;
  cursor: pointer;

  background-image: url('full-screen.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5px;
  width: 80px;
  height: 65px;
  vertical-align: middle;

  position: absolute;
  bottom: 15px;
  left: 15px;
}
/* #enterID{
  display: inline-block;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 15px;
  height: 30%;
  width: 25%;
  margin: 0 !important;
} */
.card-body h4 {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.containerCards {
  width: 100vw;
  /* position: absolute;
  bottom: 0;
  left: 0; */
  justify-content: space-between;
}
/* #fullscreenButton:hover {
  background-color: #8f8f8f;
}

#fullscreenButton:active {
  transform: scale(0.98);
} */

.finish-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url('flecha3.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  width: 80px;
  height: 75px;
  vertical-align: middle;

}

.imageText {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 10px;
  border-radius: 5px;
  opacity: 0.8;

}

#practiceNextButton{
  position: fixed;
  bottom: 15px;
  right: 10px;
}

#toMainTestButton{
  position: fixed;
  bottom: 15px;
  right: 15px;
}

#finishButton{
  position: fixed;
  bottom: 15px;
  right: 15px;
}

#endTestButton{
  position: fixed;
  bottom: 15px;
  right: 15px;
}



.red-arrow {
  background-image: url("flecha4.png") !important;
}

/* SELECCION DE MANO CSS */

#handButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url('flecha3.png');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0;
  /* Elimina el relleno para alinear el icono verticalmente */
  width: 80px;
  /* Ajusta el ancho fijo */
  height: 65px;
  /* Ajusta la altura fija */
  vertical-align: middle;
  /* Alineado verticalmente con el contenido */
  position: absolute;
  bottom: 15px;
  /* Ajustamos la distancia desde la parte inferior */
  right: 15px;
  /* Ajustamos la distancia desde el borde derecho */
}

/* #selectHand {
  display: none;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 15px;
  height: 30%;
  width: 30%;
} */

#selectHand h4 {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

#selectHand label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 12px;
}

#selectHand input[type="radio"] {
  margin-right: 10px;
}