/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }
  
  canvas {
    border: 2px solid #000;
    cursor: crosshair;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  #demoButton,
  #nextDemoButton,
  #nextPracticeButton,
  #continueToNextBlockButton,
  #startDemoButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('flecha3.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px;
    width: 80px;
    height: 65px;
    vertical-align: middle;
    position: absolute;
    bottom: 15px;
    right: 15px;
    margin: 20px;
  }

  #fullscreenButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('full-screen.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px;
    width: 80px;
    height: 65px;
    vertical-align: middle;
    position: absolute;
    bottom: 15px;
    left: 15px;
    margin: 20px;
  }
  
  #instructionsText {
    font-size: 37px;
    text-align: justify;
    margin-bottom: 1rem;
}
  
  audio {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    gap: 10px;
  }
  
  .imageText {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  #restartPracticeButton {
    position: absolute;
    bottom: 35px;
    left: 15px;
  }
  
  .circulo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  
  .rojo {
    background-color: red;
  }
  
  .azul {
    background-color: blue;
  }
  
  .range-labels {
    display: flex;
    justify-content: space-between;
    width: 850px;
    padding: 0 10px;
    margin-top: 5px;
  }
  
  .range-labels span {
    font-size: 18px;
  }
  
  #confidenceSliderPractice,
  #confidenceSlider {
    -webkit-appearance: none;
    width: 700px;
    height: 20px;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    transition: opacity 0.2s;
  }
  
  #confidenceSliderPractice::-webkit-slider-thumb,
  #confidenceSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #confidenceSliderPractice::-moz-range-thumb,
  #confidenceSlider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
  }
  
  #pauseTime {
    font-size: 20px;
    font-weight: bold;
  }

  #endScreen {
    font-size: 40px;
    margin-bottom: 70px;
  }

  #handButton {
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('flecha3.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px;
    width: 80px;
    height: 65px;
    margin: 20px;
    vertical-align: middle;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#selectHand label {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 12px;
}

#selectHand input[type="radio"] {
    margin-right: 10px;
}

.card-body h4 {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}