body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin-top: 50px;
}

/* #imageContainer { */
/* position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 120%;
    max-width: 1000px;
    max-height: 700px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    margin-bottom: 10px;
    padding-top: 4%; /* Ajuste de margen */
*/
/* } */

img {
    max-width: 110%;
    /* Ajusta el tamaño máximo de la imagen */
    max-height: 150%;
    /* Ajusta el tamaño máximo de la imagen */
    display: block;
    margin: auto;
    object-fit: contain;
}

#emotionImage {
    width: auto;
    /* Ancho automático para mantener la proporción */
    height: 80vh;
    /* Altura relativa al 70% de la altura de la ventana */
    max-width: 90%;
    /* Máximo ancho igual al 90% del contenedor */
    max-height: 80vh;
    /* Máxima altura relativa al 70% de la altura de la ventana */
    object-fit: contain;
    display: block;
    margin: 0px auto 5px auto;
}

#emotionsList {
    list-style-type: none;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    /* position: absolute;
    bottom: 3vh; */
}

#emotionsList li {
    display: inline-block;
    margin: 5px;
    padding: 12px 16px;
    background-color: #c9c9c9;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 32px;
}

#emotionsList li:hover {
    background-color: #79a4ff9a;
}

#emotionsList li.selected {
    background-color: #007bff;
    color: white;
}

h1 {
    margin-top: 60px;
    margin-bottom: 2vh;
    font-size: 3vw;
}

#instructionText {
    font-size: 35px;
    text-align: justify;
    margin-bottom: 100px;
    margin-top: 50px;
}

button {
    margin: 0px;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

#startButton {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('imagenes/flecha3.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    /* Elimina el relleno para alinear el icono verticalmente */
    width: 90px;
    /* Ajusta el ancho fijo */
    height: 80px;
    /* Ajusta la altura fija */
    vertical-align: middle;
    /* Alineado verticalmente con el contenido */
    position: absolute;
    bottom: 15px;
    /* Ajustamos la distancia desde la parte inferior */
    right: 15px;
    /* Ajustamos la distancia desde el borde derecho */
}

/* #startButton:hover {
    background-color: #0056b3;
}

#startButton:active {
    transform: scale(0.98);
}*/

#fullscreenButton {
    background-color: transparent;
    border: none;
    cursor: pointer;

    background-image: url('imagenes/full-screen.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px;
    width: 80px;
    height: 65px;
    vertical-align: middle;

    position: absolute;
    bottom: 15px;
    left: 15px;
}

/*
#fullscreenButton:hover {
    background-color: #8f8f8f;
}

#fullscreenButton:active {
    transform: scale(0.98);
} */

.button-container {
    display: flex;
    justify-content: center;
    /* Alinea los botones horizontalmente al centro */
    align-items: center;
    /* Asegura que los botones estén alineados en el eje transversal (vertical) */
    margin-top: 20px;
    width: 100%;
    /* Asegura que el contenedor ocupe el ancho completo */
}

.button-container button {
    margin: 5px;
    /*  Ajusta este margen según lo necesites */
}

audio {
    margin-bottom: 20px;
}

.item-indicator {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

#next-button {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('imagenes/flecha3.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    /* Elimina el relleno para alinear el icono verticalmente */
    width: 90px;
    /* Ajusta el ancho fijo */
    height: 80px;
    /* Ajusta la altura fija */
    vertical-align: middle;
    /* Alineado verticalmente con el contenido */
    position: fixed;
    bottom: 15px;
    /* Ajustamos la distancia desde la parte inferior */
    right: 15px;
    /* Ajustamos la distancia desde el borde derecho */
}

/* SELECCION DE MANO CSS */

#handButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('imagenes/flecha3.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    /* Elimina el relleno para alinear el icono verticalmente */
    width: 80px;
    /* Ajusta el ancho fijo */
    height: 65px;
    /* Ajusta la altura fija */
    vertical-align: middle;
    /* Alineado verticalmente con el contenido */
    position: absolute;
    bottom: 15px;
    /* Ajustamos la distancia desde la parte inferior */
    right: 15px;
    /* Ajustamos la distancia desde el borde derecho */
}

/* #enterID {
    display: inline-block;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 15px;
    height: 30%;
    width: 25%;
    margin: 0 !important;
} */

.card-body h4 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.containerCards {
    width: 100vw;
    justify-content: space-between;
}

/* #selectHand {
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 15px;
    height: 30%;
    width: 30%;
} */

#selectHand h4 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#selectHand label {
    font-weight: bold;
    margin-bottom: 15px;
}

#selectHand input[type="radio"] {
    margin-right: 10px;
}

.container {
    border: 1px solid #ffffff;
    background: #fff;
    padding: 20px;
    text-align: center;

}