body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1320px;
    margin: 0 auto;
}

canvas {
    border: 1px solid white;
    max-width: 100%;
    height: auto;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

audio {
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    gap: 10px;
}

.mainScreen {
    width: 60%;
    height: 60%;
}

#validateButton,
#showButton,
#hideButton {
    font-size: 17px;
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 8px;
    gap: 10px;

}


#showButton:hover,
#hideButton:hover {
    background-color: #007bff;
    color: white;
}

#downloadCSV,
#downloadPNG,
#downloadVideo {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 20px;
    gap: 10px;
    padding: 5px;
    margin-bottom: 5px;
}

#downloadCSV:hover,
#downloadPNG:hover,
#downloadVideo:hover {
    background-color: #007bff;
    color: white;
}

p {
    font-size: 20px;
    margin-left: 20px;
}

#instructionText {
    font-size: 37px;
    text-align: justify;
    margin-bottom: 1rem;
}

#startButton,
#next-button,
#next-button-practice,
#test-button,
#handButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('flecha.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    /* Elimina el relleno para alinear el icono verticalmente */
    width: 90px;
    /* Ajusta el ancho fijo */
    height: 80px;
    /* Ajusta la altura fija */
    vertical-align: middle;
    /* Alineado verticalmente con el contenido */
    position: absolute;
    bottom: 15px;
    /* Ajustamos la distancia desde la parte inferior */
    right: 15px;
    /* Ajustamos la distancia desde el borde derecho */
}

#fullscreenButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('full-screen.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    /* Elimina el relleno para alinear el icono verticalmente */
    width: 90px;
    /* Ajusta el ancho fijo */
    height: 80px;
    /* Ajusta la altura fija */
    vertical-align: middle;
    /* Alineado verticalmente con el contenido */
    position: absolute;
    bottom: 15px;
    /* Ajustamos la distancia desde la parte inferior */
    left: 15px;
    /* Ajustamos la distancia desde el borde derecho */
}

#end-screen {
    text-align: center;
}

.card-body h4 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.containerCards {
    width: 100vw;
    justify-content: space-between;
}

#selectHand h4 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#selectHand label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 12px;
}

#selectHand input[type="radio"] {
    margin-right: 10px;
}

.container-hand {
    border: 1px solid #ffffff;
    background: #fff;
    padding: 20px;
    text-align: center;

}

#clear-canvas-button {
    margin-top: 10px; /* Ajusta el margen según sea necesario */
    cursor: pointer;
}

