/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 36px;
    margin-top: 0;
}

#image-container {
    position: relative;
    display: inline-block;
}

canvas {
    margin-top: 20px;
    background-color: #fff;
}

#buttons {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#completionScreen {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.screen {
    display: none;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#initialScreen button, #completionScreen button {
    margin-top: 20px;
}

#instructionText {
    font-size: 35px;
    text-align: justify;
    margin-bottom: 20px;
}

#initialScreen, #instructionScreen1, #instructionScreen2, #instructionScreen3, #instructionScreen4, #preTestInstructionScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    margin: 0 auto;
}

.button-container {
    margin-top: 20px;
    text-align: center;
}

.button-container button {
    margin: 20px;
}

#validateButton, #showButton, #hideButton, #prevButton, #downloadCSVButton,#showRotationErrorButton, #hideRotationErrorButton,#showUpdateErrorButton,#hideUpdateErrorButton {
    padding: 15px 30px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#downloadCSVButton {
    font-size: 16px;
    padding: 12px 22px;
    border-radius: 5px;
    margin-left: 20px;
    gap: 10px;
}

#validateButton, #showButton, #hideButton, #nextButton, #prevButton,#showRotationErrorButton, #hideRotationErrorButton,#showUpdateErrorButton,#hideUpdateErrorButton {
    font-size: 17px;
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 8px;
    gap: 10px;
}

#validateButton:hover, #showButton:hover, #hideButton:hover, #nextButton:hover, #prevButton:hover, #downloadCSVButton:hover {
    background-color: #007bff;
    color: white;
}

audio {
    margin-bottom: 20px;
}

#header {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

#trialIndicator {
    font-size: 25px;
   
}
#indicador{
    font-size: 25px;
}


.align-items-center {
    display: flex;
    justify-content: center;
    height: 100%;
}

#questionRow {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
}

#startButton, #next-button, .arrow-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    /* Elimina el relleno para alinear el icono verticalmente */
    width: 80px;
    /* Ajusta el ancho fijo */
    height: 75px;
    /* Ajusta la altura fija */
    vertical-align: middle;
    /* Alineado verticalmente con el contenido */
    position: absolute;
    bottom: 15px;
    /* Ajustamos la distancia desde la parte inferior */
    right: 15px;
    /* Ajustamos la distancia desde el borde derecho */
}
#fullScreenButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('full-screen.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    /* Elimina el relleno para alinear el icono verticalmente */
    width: 80px;
    /* Ajusta el ancho fijo */
    height: 75px;
    /* Ajusta la altura fija */
    vertical-align: middle;
    /* Alineado verticalmente con el contenido */
    position: absolute;
    bottom: 15px;
    /* Ajustamos la distancia desde la parte inferior */
    left: 15px;
    /* Ajustamos la distancia desde el borde derecho */
}

/* SELECCION DE MANO CSS */

#handButton {
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px;
    width: 80px;
    height: 65px;
    margin: 20px;
    vertical-align: middle;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#selectHand label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 12px;
}

#selectHand input[type="radio"] {
    margin-right: 10px;
}

.card-body h4 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

#practiceVideo1, 
#instructionCanvas,
#practiceCanvas1,
#practiceCanvas2,
#imageCanvas,
#practiceVideo2,
#practiceVideo3,
#testVideo {
    width: 100%;
    height: auto;
} 

#itemsTest1,
#itemsTest2,
#itemsTest3,
#itemsTest4 {
    display: flex;
    gap: 50px;
}

#izquierda1,
#izquierda2,
#izquierda3,
#izquierda4,
#derecha1,
#derecha2,
#derecha3,
#derecha4 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex: 1;
}

#derecha1,
#derecha2,
#derecha3,
#derecha4 {
    border: 2px solid black;
}

#questionText {
    position: fixed;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    text-align: center;
    z-index: 9999;
}