body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hidden {
    display: none;
}

button {
    margin: 0 20px;
    /* Ajusta el margen horizontal */
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-block;
    /* Cambiado a inline-block */
    vertical-align: middle;
    /* Alineado verticalmente con el contenido */
    height: 60px;
    /* Ajusta la altura fija */
}


.img-button {
    cursor: pointer;
}


button:active {
    transform: scale(0.98);
}

.imageText {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
    box-shadow: var(--bs-box-shadow) !important;
}

p {
    font-size: 37px;
    text-align: justify;
    margin-bottom: 1rem;
}

.audio-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

audio {
    margin-bottom: 20px;
}

.button-container {
    margin-top: 20px;
    text-align: center;
    /* Alinea los botones al centro horizontal */
}


.button-container button {
    margin: 20px;
    /* Ajusta el margen entre los botones */
}

.test-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.test-item {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}


.timer {
    display: none; /* Oculta el temporizador */
    font-size: 20px;
    margin-top: 10px;
    color: red;
    font-weight: bold; /* Negrita */
}

/* Estilos específicos para recordImg */
.record-img {
    width: 160px;
    height: 160px; 
    background-size: contain; 
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Estilos específicos para stopImg */
.stop-img {
    width: 90px;
    height: 90px;
    margin-top: -80px;
    background-size: contain;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-size: 90px 90px;
}

.new-button {
    margin-left: 10px; 
    margin-right: 30px;
    width: 90px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-size: 90px 90px;
}


.next-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('img/flecha3.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    /* Elimina el relleno para alinear el icono verticalmente */
    width: 90px;
    /* Ajusta el ancho fijo */
    height: 80px;
    /* Ajusta la altura fija */
    vertical-align: middle;
    /* Alineado verticalmente con el contenido */
    position: absolute;
    bottom: 15px;
    /* Ajustamos la distancia desde la parte inferior */
    right: 15px;
    /* Ajustamos la distancia desde el borde derecho */
}

.hidden {
    display: none;
}

#completion-message {
    text-align: center;
    margin-top: 20px;
}

#completion-message h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#completion-message p {
    font-size: 18px;
    margin-bottom: 20px;
}

#completion-message ul {
    list-style: none;
    padding: 0;
}

#completion-message ul li {
    margin-bottom: 10px;
}

#completion-message ul li a {
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
}

#completion-message ul li a:hover {
    text-decoration: underline;
}

.recording-message {
    color: green;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

#start-button, #next-button,#final-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('img/flecha3.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    /* Elimina el relleno para alinear el icono verticalmente */
    width: 80px;
    /* Ajusta el ancho fijo */
    height: 75px;
    /* Ajusta la altura fija */
    vertical-align: middle;
    /* Alineado verticalmente con el contenido */
    position: absolute;
    bottom: 15px;
    /* Ajustamos la distancia desde la parte inferior */
    right: 15px;
    /* Ajustamos la distancia desde el borde derecho */
}
#fullscreen-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('img/full-screen.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    /* Elimina el relleno para alinear el icono verticalmente */
    width: 80px;
    /* Ajusta el ancho fijo */
    height: 75px;
    /* Ajusta la altura fija */
    vertical-align: middle;
    /* Alineado verticalmente con el contenido */
    position: absolute;
    bottom: 15px;
    /* Ajustamos la distancia desde la parte inferior */
    left: 15px;
    /* Ajustamos la distancia desde el borde derecho */
}

#enterID {
    display: inline-block;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 15px;
    height: 30%;
    width: 25%;
    margin: 0 !important;
}
