html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #ffffff;
    transform: rotate(270deg);
    transform-origin: center center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vh;
    height: 100vw;
    transform: translate(-50%, -50%) rotate(270deg);
}


#container {
    border: 1px solid #ffffff;
    background: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; /* Para incluir el padding dentro del tamaño total */
}

#container2{
    background: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box; /* Para incluir el padding dentro del tamaño total */
    
}

#main-screen {
    background: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin-top: 70px;
}

#instruccionesdespues{
    background: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box; /* Para incluir el padding dentro del tamaño total */
}

audio{
    margin-top: 25px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    margin-bottom: 80px;
}

p {
    font-size: 30px;
    text-align: center;
}

ol {
    font-size: 30px;
    margin-bottom: 150px;
    text-align: center;
}

button {
    margin: 20px;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-flex;
    align-items: center;
}

button:hover {
    background-color: #007bff;
    color: white;
}

button:active {
    transform: scale(0.98);
}

#showinstruction {
    position: absolute;
    right: 15px;
    width: 32px;
    height: 32px;
    background-image: url('noeye.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    padding: 0;
    padding-bottom: 20px;
}

#instruction {
    position: relative;

}

#instruccion {
    visibility: hidden;
    opacity: 0;
    position: relative;
    top: 70px; /* Ajusta la posición según sea necesario */
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}

#instruccion.show {
    visibility: visible;
    opacity: 1;
}

#start-button {
    padding: 15px 30px;
    font-size: 22px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#start-button:hover {
    background-color: #0056b3;
}

#start-button:active {
    transform: scale(0.98);
}

#fullscreen-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('full-screen.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    width: 80px;
    height: 70px;
    vertical-align: middle;
}


.option-button {
    font-size: 28px;
}

.screen {
    text-align: center;
    max-width: 100vh;
    max-height: 100vh;
}


.button-container {
    position: absolute;
    bottom: 15px;
    left: 15px;
}
.button-container2 {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.button-container button {
    margin: 20px;
    /* Ajusta el margen entre los botones */
}

.controls {
    margin-bottom: 10px;
}

#timer,
#memory-timer {
    font-size: 24px;
    margin-right: 20px;
}

#draw-with-figure-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

#draw-from-memory-screen{
    margin-top: 400px;
}

.drawing-part {
    margin: 10px;
}

canvas {
    border: 1px solid #000;
    cursor: crosshair;
}

#drawing-canvas {
    margin-bottom: 10vh;
}

#figure-image {
    max-width: 81vh;
    max-height: 81vh;
    min-width: 75vh;
    margin-top: 1vh;
}

#identify-figure-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Espacio entre las imágenes */
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
    margin-top: 400px;
}

.option {
    width: 100%;
    /* Ocupa todo el ancho disponible en la cuadrícula */
    height: auto;
    /* Ajusta automáticamente la altura para mantener la proporción */
    max-width: 30vh;
    max-height: 30vh;
    /* Establece una altura máxima mayor para las imágenes */
    margin: 4px;
    /* Agrega un pequeño margen entre las imágenes */
}

.identify-figure-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.controls i {
    font-size: 30px;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s, transform 0.2s;
}

.controls i:hover {
    transform: scale(1.1);
}

.rotated-controls {

    top: 35vh; /* Ajusta este valor según sea necesario */
    left: 49%; /* Alinea los controles al centro horizontalmente */
}

.selectable {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.selectable:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.selected {
    border: 3px solid #007bff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#countdown-timer {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

#finish-drawing-with-figure,
#finish-drawing-from-memory,
#finish-identifying-figure,
#handButton,
#download {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('flecha3.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    width: 80px;
    height: 70px;
    vertical-align: middle;
}

#finalize-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('flecha3.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    width: 80px;
    height: 70px;
    vertical-align: middle;
}

#finish-drawing-with-figure.red-arrow {
    background-image: url('flecha4.png');
}

#finish-drawing-from-memory.red-arrow{
    background-image: url('flecha4.png');
}

#finish-identifying-figure.red-arrow{
    background-image: url('flecha4.png');
}

#contador {
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    z-index: 1000; /* Asegura que el contador esté siempre visible */
}


/* SELECCION DE MANO CSS */

  
  .card-body h4 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
  }
  
  #selectHand label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 12px;
  }
  
  #selectHand input[type="radio"] {
    margin-right: 10px;
  }