body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    transform: rotate(270deg);
    transform-origin: center;
    overflow: hidden;
}

#container {
    text-align: center;
    background: white;
    padding: 50px;
    width: 100vh;
    height: 100vw;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin-top: 50px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    margin-bottom: 80px;
}

p {
    font-size: 30px;
    text-align: center;
}

ol {
    font-size: 30px;
    margin-bottom: 150px;
    text-align: center;
}

button {
    margin: 20px;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-flex;
    align-items: center;
}

button:hover {
    background-color: #007bff;
    color: white;
}

button:active {
    transform: scale(0.98);
}

#start-button {
    padding: 15px 30px;
    font-size: 22px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#start-button:hover {
    background-color: #0056b3;
}

#start-button:active {
    transform: scale(0.98);
}

#fullscreen-button {
    margin-top: 10px;
    padding: 15px 30px;
    font-size: 22px;
    color: rgb(0, 0, 0);
    background-color: #c7c7c7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#fullscreen-button:hover {
    background-color: #8f8f8f;
}

#fullscreen-button:active {
    transform: scale(0.98);
}

.option-button {
    font-size: 28px;
}

.screen {
    text-align: center;
    max-width: 100vh;
    max-height: 100vh;
}

#main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
}

.button-container {
    margin-top: 20px;
    text-align: center;
    /* Alinea los botones al centro horizontal */
}

.button-container button {
    margin: 20px;
    /* Ajusta el margen entre los botones */
}

.controls {
    margin-bottom: 10px;
}

#timer,
#memory-timer {
    font-size: 24px;
    margin-right: 20px;
}

.drawing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drawing-part {
    margin: 10px;
}

canvas {
    border: 1px solid #000;
    cursor: crosshair;
}

#drawing-canvas {
    margin-bottom: 10vh;
}

#figure-image {
    max-width: 81vh;
    max-height: 81vh;
    min-width: 75vh;
    margin-top: 1vh;
}

#identify-figure-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Espacio entre las imágenes */
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
}

.option {
    width: 100%;
    /* Ocupa todo el ancho disponible en la cuadrícula */
    height: auto;
    /* Ajusta automáticamente la altura para mantener la proporción */
    max-width: 30vh;
    max-height: 30vh;
    /* Establece una altura máxima mayor para las imágenes */
    margin: 4px;
    /* Agrega un pequeño margen entre las imágenes */
}

.identify-figure-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.controls i {
    font-size: 30px;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s, transform 0.2s;
}

.controls i:hover {
    transform: scale(1.1);
}

.rotated-controls {

    top: 35vh; /* Ajusta este valor según sea necesario */
    left: 49%; /* Alinea los controles al centro horizontalmente */
}

.selectable {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.selectable:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.selected {
    border: 3px solid #007bff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#countdown-timer {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

#finish-drawing-with-figure,
#finish-drawing-from-memory,
#finish-identifying-figure {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('flecha3.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    width: 80px;
    height: 70px;
    vertical-align: middle;
    position: relative;
    bottom: 15px;
    right: 15px;
}

#finalize-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('flecha3.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    width: 80px;
    height: 70px;
    vertical-align: middle;
    position: relative;
    bottom: 15px;
    right: 15px;
}

#finish-drawing-with-figure.red-arrow {
    background-image: url('flecha4.png');
}

#finish-drawing-from-memory.red-arrow{
    background-image: url('flecha4.png');
}

#finish-identifying-figure{
    background-image: url('flecha4.png');
}

#contador {
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    z-index: 1000; /* Asegura que el contador esté siempre visible */
}
