body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #ffffff;
    transform: rotate(270deg);
    transform-origin: center center;
    height: 100vh;
    overflow: hidden;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 100vw;
    background: white;
}

#instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    background: #f0f0f0;
    margin-bottom: 10px;
}

#main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2, p, ol {
    font-size: 30px;
    text-align: center;
    margin: 0 10px;
}

button {
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-flex;
    align-items: center;
}

button:hover {
    background-color: #007bff;
    color: white;
}

button:active {
    transform: scale(0.98);
}

#fullscreen-button {
    padding: 15px 30px;
    font-size: 22px;
    color: rgb(0, 0, 0);
    background-color: #c7c7c7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#fullscreen-button:hover {
    background-color: #8f8f8f;
}

#fullscreen-button:active {
    transform: scale(0.98);
}

.button-container {
    margin-top: 20px;
    text-align: center;
}

.button-container button {
    margin: 20px;
}

.drawing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.drawing-part {
    margin: 10px;
}

canvas {
    border: 1px solid #000;
    cursor: crosshair;
}

#figure-image {
    max-width: 81vh;
    max-height: 81vh;
    min-width: 75vh;
    margin-top: 1vh;
}

#identify-figure-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 0; /* Elimina el espacio entre las columnas */
}

.identify-figure-image {
    width: 90%; /* Ajusta el tamaño según sea necesario */
    height: auto;
    margin: auto; /* Centra las imágenes dentro de sus contenedores */
}

.controls i {
    font-size: 30px;
    margin: 0 10px;
    cursor: pointer;
    transition: color 0.3s, transform 0.2s;
}

.selectable {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.selectable:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.selected {
    border: 3px solid #007bff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#countdown-timer {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background-color: #fff;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.rotated-controls {
    position: absolute;
    top: 35vh;
    left: 49%;
    transform: rotate(90deg);
}

#finish-drawing-with-figure,
#finish-drawing-from-memory,
#finish-identifying-figure {
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url('flecha3.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    width: 80px;
    height: 75px;
    vertical-align: middle;
}

#finishButton{
    position: absolute;
    top: 15px;
    right: 15px;
  }

.red-arrow {
    background-image: url("flecha4.png") !important;
}

#contador {
    position: fixed;
    top: 15px;
    right: 15px;
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    z-index: 1000;
}
